<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Do or do not. There is no try. Yoda</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  <style>
      .starwars .navbar {
          background-color: #adc2ff;
      }
      .starwars .loadmore {
          font-weight: 700;
          font-size: 18px;
      }
  </style>
</head>
<body class="starwars">
<header class="navbar">
  <section class="navbar-section">
  </section>
  <section class="navbar-center">
    <p></p>
  </section>
  <section class="navbar-section">
    <a href="https://github.com/bdabrowski/star-wars" class="btn btn-link">GitHub</a>
  </section>
</header>
{% block 'content' %}
{% endblock %}
</body>
</html>